@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&family=Style+Script&display=swap');
$primary_color: #ee9ca7;
$second_color: #FFECEF;
$dark_background: #251B37;
$second_dark_background: #372948;

$font_title: 'Style Script', cursive;
$font_text: 'Rubik', sans-serif;
// $font_text:  'Poppins', sans-serif;