@import "../variables";

.listagem_page {
    width: auto;
    
    min-height: 100vh;
    background-color: $light_background;

    .title {
        top: 40px;
        left: -50px;
        color: white;
        font-family: $font_title;
        padding: 5px 10px 5px 100px;
        background-color: $primary_color;
        border-radius: 3px;
    }

    mat-form-field {
        width: 25%;
    }

    .listagem {
        width: 75%;
        height: auto;
        padding: 50px;
        margin: 30px 0;
        background-color: $second_dark_background;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);

        div {

            .mat-column-id td,
            .mat-column-simbolo td,
            .mat-column-descricao td {
                text-align: center;
            }

            .mat-mdc-row:hover .mat-mdc-cell {
                border-color: $primary_color;
            }
        }
    }
}