@import "../variables.scss";

.home_div {
    width: auto;
    height: 100vh;
    background-color: $second_color;

    .row div{
        padding: 0;
    }

    .conversor {
        padding: 2rem 6rem;
        background-color: $second_dark_background;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);

        .page_input {
            // padding-top: 0.5rem;

            button {
                width: 100%;
                color: white;
                background-color: $second_dark_background;
                border: 1px solid $primary_color;
                border-radius: 20px;
                transition-duration: 0.2s;

                &:hover {
                    background-color: $primary_color;
                }
            }
            input {
                .mat-input-wrapper {
                    background-color: #FF0000;
                }
            }
        }

        h2,h6 {
            padding: 0;
            margin: 0;
            height: auto;
        }

        .title {
            color: white;
            font-family: $font_title;
            // font-size: 40px;
            // background-color: $primary_color;
            border-radius: 3px;
            padding: rem;
        }

        mat-icon {
            color: white;
        }
    }
}