@import "../variables.scss";

.home_page{
    width: auto;
    height: 100vh;
    background-image: url("../../assets/background_home.jpg");
    background-repeat: no-repeat;
    background-position: right center ;
    background-size: 50rem;
    // background-color: $light_background;

    .home{
        width: 85%;
        height: 70%;
        padding: 3rem;
        .home_left{
            width: auto;
            backdrop-filter: blur(5px);
            h1{
                color: $primary_color;
                font-family: $font_text; 
                font-size: 3rem;
            }
            span{
                font-size: 1rem;
            }
            a{
                color: $primary_color;
            }
            button{
                color: white;
                padding: 0 2rem;
                background-color: $primary_color;
                border-color: $primary_color;
                border-radius: 20px;
                &:hover{
                    color: $primary_color;
                    background-color: white;
                    border-color: $primary_color;
                }
            }
        }
    }
}