<section class="home_page d-flex justify-content-center align-items-center">
    <div class="home">
        <div class="row">
            <div class="home_left col-md-6 d-flex flex-column p-3"> 
                <h1>Projeto de </h1>
                <h1 class="mb-5">conversão de moedas</h1>
                <span class="lead">Projeto que utiliza a <a href="https://exchangerate.host/#/">Exchangerate API</a> para conversão de moedas, </span>
                <span class="lead mb-5">listagem e histórico de trocas.</span>
                <div class="">
                    <button mat-button routerLink="/conversao">Conversor</button>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>