@import "../variables.scss";

.home_page {
    width: auto;
    height: 100vh;
    background-color: $light_background;

    .row div {
        padding: 0;
    }

    .conversor {
        padding: 2rem 6rem;
        background-color: $second_dark_background;
        // border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);

        // .title {
        //     top: 20px;
        //     left: -40px;
        //     color: white;
        //     padding: 5px 20px 5px 70px;
        //     font-family: $font_title;
        //     background-color: $primary_color;
        // }

        .title {
            top: 1rem;
            width: 110%;
            text-align: center;
            color: white;
            padding-top: 7px;
            padding-bottom: 2px;
            font-family: $font_title;
            background-color: $primary_color;
        }

        .page_input {
            // padding-top: 0.5rem;

            button {
                width: 100%;
                color: white;
                background-color: $second_dark_background;
                border: 1px solid $primary_color;
                border-radius: 20px;
                transition-duration: 0.2s;

                &:hover {
                    background-color: $primary_color;
                }
            }

            .input-right-align {
                text-align: right;
            }

            input.input-right-align::-webkit-outer-spin-button,
            input.input-right-align::-webkit-inner-spin-button {
                display: none;
            }

            input.input-right-align {
                -moz-appearance: textfield;
            }

            .input-right-align {}

            mat-form-field {
                width: 100%;
            }

            // mat-form-field,
            // at-select,
            // mat-label,
            // input,
            // mat-option {
            //     border-color: white !important;
            //     color: white !important;
            // }

            .mat-form-field-appearance-outline .mat-form-field-outline {
                color: $primary_color;
            }

            .mat-form-field-appearance-outline .mat-form-field-outline-thick {
                color: white;
            }
        }



        mat-icon {
            color: white;
        }
    }

    .visualicao {
        color: white;
        padding: 0.5rem;
        border: 1px solid $primary_color;
        border-radius: 5px;
    }
}