@import "../variables";

nav{
    padding: 0px;
    margin: 0px;
    background: $primary_color;
    background: linear-gradient(to top, hsl(353, 100%, 86%), #ee9ca7); 
    
    .navbar-brand{
        font-family: $font_title;
        font-size: 2rem;
        color: white;
    }
    
    .navbar-nav a{
        padding: 1.1rem;
        color: white;
        font-family: $font_text;
        height: auto !important;
        transition-duration: 0.2s;
        // border-radius: 3px;
        
        &:hover{
            color:#FFAFBD;
            background-color: white;
        }
    }
}